<div class="app-quiz">
  <h1>Bienvenue {{ currGamer?.newGamer }}</h1>
  <div class="row">
    <button [routerLink]="['/gamer']">Create a new Gamer</button>
    <button [routerLink]="['/login']">My profile</button>
    <button>Scores</button>
  </div>

  <h1>{{ quizTitle }}</h1>
  <!-- <a routerLink="/terminator" routerLinkActive="active"></a> -->
  <div *ngFor="let quiz of currentQuizList" class="btns-box">
    <button [class]="quiz.class" (click)="navigateTo(quiz.page)">
      {{ quiz.name }}</button
    ><br /><br />
  </div>
</div>
