<div class="app-quiz">
  <div class="row header-btns-box">
    <button [routerLink]="['/gamer']" class="home-button">Add new Gamer</button>
    <button [routerLink]="['/login']" class="home-button">My profile</button>
    <button [routerLink]="['/manage-questions']" class="home-button">
      Questions Manager
    </button>
    <button class="home-button">Scores</button>
  </div>

  <h1>Welcome {{ currGamer?.newGamer }}</h1>
  <h1>{{ quizTitle }}</h1>
  <!-- <a routerLink="/terminator" routerLinkActive="active"></a> -->
  <div *ngFor="let quiz of currentQuizList" class="btns-box">
    <button [class]="quiz.class" (click)="navigateTo(quiz.page)">
      {{ quiz.name }}</button
    ><br /><br />
  </div>
</div>
