<h2>Thème choisi : {{ datasByPage.page[0].name }}</h2>
<h1>{{ gameMessage }}</h1>
<div>{{ currentQuestion.contentQuestion }}</div>
<br />
<div response="resA" (click)="selectResponse(resA)">
  {{ currentAnswer.a }}
</div>
<div response="resB" (click)="selectResponse(resB)">
  {{ currentAnswer.b }}
</div>
<div response="resC" (click)="selectResponse(resC)">
  {{ currentAnswer.c }}
</div>
<br />
<br />
<button (click)="nextQuestion()" *ngIf="!isQuizFinished">Next Question</button>
<h3>
  <div *ngIf="isQuizFinished">Total de points :{{ points }}</div>
</h3>
