<div [formGroup]="form" class="form-question">
  <button [routerLink]="['/']">Retour</button>
  <h1>Add a new Question</h1>
  <input type="text" formControlName="theme" placeholder="Theme" />

  <div value="numberQuestion">Question numéro : {{ numberQuestion }}</div>
  <input type="text" formControlName="contentQuestion" placeholder="Question" />
  <input type="text" formControlName="responseA" placeholder="Réponse a" />
  <input type="text" formControlName="responseB" placeholder="Réponse b" />
  <input type="text" formControlName="responseC" placeholder="Réponse c" />
  <button (click)="addQuestion()">Next question</button>
</div>
