<p>manage-questions works!</p>
<button [routerLink]="['/']">Retour</button>
<h1>Add a new Question</h1>
<div [formGroup]="form">
  <select name="quiz" id="quiz" formControlName="quizName">
    <option value="batman">Batman</option>
    <option value="bowie">Bowie</option>
    <option value="terminator">Terminator</option>
  </select>
  <input type="text" formControlName="numQuestion" placeholder="numQuestion" />
  <br />
  <input
    type="text"
    formControlName="contentQuestion"
    placeholder="contentQuestion"
  />
  <br />
  <input type="text" formControlName="responseA" placeholder="responseA" />
  <br />
  <input type="text" formControlName="responseB" placeholder="responseB" />
  <br />
  <input type="text" formControlName="responseC" placeholder="responseC" />
  <br />
  <br />
  <button (click)="addQuestion()">Save question</button>
  <br />
</div>
<br />
