<div [formGroup]="form" class="form-question">
  <button [routerLink]="['/']">Retour</button>
  <div *ngIf="!isThemeChosen">
    <h1>First choose a theme</h1>
    <input type="text" formControlName="theme" placeholder="Theme" />
  </div>
  <div *ngIf="isThemeChosen">
    Theme of quiz :
    <h2>{{ quizTheme }}</h2>
  </div>
  <h1>Add a new Question</h1>
  <div value="numberQuestion">Question numéro : {{ numberQuestion }}</div>
  <input type="text" formControlName="contentQuestion" placeholder="Question" />
  <input type="text" formControlName="responseA" placeholder="Réponse a" />
  <input type="text" formControlName="responseB" placeholder="Réponse b" />
  <input type="text" formControlName="responseC" placeholder="Réponse c" />
  <select name="goodRes" id="goodRes" formControlName="goodRes">
    <option value="" disabled selected>Sélectionne la bonne réponse</option>
    <option value="a">Réponse a</option>
    <option value="b">Réponse b</option>
    <option value="c">Réponse c</option>
  </select>
  <button (click)="addQuestion()">Next question</button>
  <button (click)="saveQuestions()">Save Questions</button>
</div>
